.content .top .recommend{
    padding:30px 1.5rem;
    background: #fff;
}
.content .top .recommend h2{
    margin:0px;
    font-weight: bold;
}
.content .top .recommend p{
    padding-top:1rem;
    font-size: 1.5rem;
    color:#333;
}
.content .top .recommend div .price{
    padding-top:1rem;
    font-size: 1.5rem;
    color:#ef6249;
}
.content .top .recommend div .price .number{
    font-size: 3rem;
    font-weight: bold;
    padding:0px 5px;
    display: inline-block;
}
.content .top .recommend div .price .yuan{
    color:#333;
}
.content .top .recommend div .place{
    padding-left:30px;
    color:#666;
}
.content .travel{
    background: #fff;
    margin-top:1rem;
}
.content .travel .data{
    padding:1.5rem;
    margin-bottom:30px;
    border-bottom:1px solid #d2d2d2;
}
#down{
    display: inline-block;
    width:39px;
    height:39px;
    text-align: center;
    text-align: -webkit-center;
}
.content .travel .data .rotate{
    display: inline-block;
    transform-origin:center center; //旋转中心要是正中间 才行
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition: transform 0.7s; //过度时间 可调
    -moz-transition: -moz-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    -o-transition: -o-transform 0.7s;
    -ms-transition: -ms-transform 0.7s;
}
.content .travel .data .rotate1{
    display: inline-block;
    transform-origin:center center;
    transform: rotate(0deg); //返回原点
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    -o-transition: -o-transform 0.7s;
    -ms-transition: -ms-transform 0.7s;
}
.content .travel .data .see{
    color:#0464cf;
    font-size:25px;
    font-weight: bold;
}
.content .travel .data span i{
    font-size: 28px;
    color:#b5b5b5;
}
.content .travel .may-apply{
    padding:0px 1rem 20px;
    border-bottom:1px solid #d2d2d2;
    overflow: hidden;
    display:none;
}
.content .travel .may-apply div{
    width:20%;
    float: left;
    padding:0px 0.5rem;
}
.content .travel .may-apply div div{
    height:50px;
    line-height:22px;
    width:100%;
    border:1px solid #d2d2d2;
    border-radius: 3px;
    padding:0px;
    margin-bottom:1rem;
}
.content .travel .may-apply div div p{
    text-align: center;
    text-align: -webkit-center;
    color:#000;
    margin:0px;
}
.content .travel .may-apply div div .color{
    color:#ef6249;
}
.content .travel .detail{
    padding:0px 1.5rem 30px;
}
.content .explain .border-bottom{
    margin-top:0;
}
.content .explain .item{
    margin-bottom:20px;
}
.content .explain .item div{
    background:#ef6249;
    padding:0px 10px;
    padding-bottom:20px;
    color:#fff;
}
.content .explain .item div h4{
    margin:0px;
    padding:20px 0px;
}
.content .explain .item div p{
    font-size: 1.5rem;
}
.content .explain .item .background-color{
    background: #efefef;
    color:#000;
}
.content .explain .item .background-color .prompt{
    color:#ef6249;
}
.content .reserve .item{
    margin-bottom:1rem;
}
.content .reserve .item h4 span{
    display: inline-block;
    padding:0px 5px;
    font-size: 18px;
    font-weight: bold;
    color:#ef6249;
    margin-bottom:15px;
}
.content .reserve .item p{
    font-size: 1.5rem;
}
.content .reserve-two{
    padding-top:20px;
}
.content .scenery{
    margin-bottom:5rem;
}
.content .scenery div p{
    font-size: 1.5rem;
    margin-top:10px;
    line-height:22px;
    color:#333;
}
.footer-two{
    position: fixed;
    bottom:0px;
    height:61px;
    max-width: 750px;
    width:100%;

}
.footer-two div{
    float: left;
}
.footer-two .div{
    width:111px;
}
.footer-two .reserve-btn{
    display: inline-block;
    text-align: center;
    text-align: -webkit-center;
    line-height: 59px;
    font-size: 1.5rem;
    color:#fff;
    width:calc(100% - 111px);
    background: #ef6249;
}